{{!< default}}
    <main role="main" class="content">
        <article class="intro">
          <p>I'm a senior product designer with 15 years of experience in the design and tech world. I love to break down users’ complex problems, solve them in a simple way, and make their lives more delightful.</p>
          <p>Here are a few examples of how I approach design challenges.</p>
        </article>
       
    </main>

    {{> post-gallery}}