<nav class="social">
	<a class="icon-mail" href="mailto:sarah@madysondesigns.com" target="_blank" title="Email"></a> 
	<a class="icon-linkedin" href="http://www.linkedin.com/in/madysondesigns" target="_blank" title="LinkedIn"></a>
	<a class="icon-twitter" href="https://twitter.com/madysondesigns" target="_blank" title="Twitter"></a>
	<a class="icon-github" href="https://github.com/madysondesigns" target="_blank" title="Fork me on Github"></a>
</nav>